.detailsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* padding-top: 50px; */
    
    background-color: wheat;
    padding: 1opx;
    column-gap: 15px;
    row-gap: 10px;
}

.details1{
    background-color: rgb(241, 240, 238);
    grid-row: 1/ span 1;
}

.details2{
    background-color: rgb(241, 240, 238);
    grid-row: 1/ span 1;
}

.details3{
    background-color: rgb(241, 240, 238);
    grid-row: 1/ span 1;
}

.details4{
    background-color: rgb(241, 240, 238);
    grid-row: 1/ span 1;
}